h1{
    width: 100;
    border: dotted;
    color: blueviolet;
}

h2{
    color: black;
     background-image: url(../wine1.jpg);
     background-image: url(../WhatsApp\ Image\ 2022-10-06\ at\ 1.19.45\ PM.jpeg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 50;
    background-position: right;
    background-color: blue;
}
h3{
    color: aqua;
}
h4{
    text-align: center;
}
h5{
    text-transform: lowercase;
}
p{
    letter-spacing: 10px;
}
b{
    word-spacing: 10px;
}
i{
    text-shadow: 10px;
}
blockquote{
direction:ltr
}






