/* .sri{
    height: 100%;
    width: 100%;
    background-color:red;
    display: flex;
    justify-content: center;
    justify-items: center;
     position: absolute; 
    right: 500px;
    top: 400px;
    border: 0px solid black;
    padding: 100px;
    padding-top: 50px;
    margin-left: 5px green;
}
.srikanth1{
    height: 200px;
    width: 100px;
} */